.mainContainer{
  display: flex;
  margin-top: 40px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featured {
  padding: 0rem 5rem;
  padding-top: 5rem;
  background: 
  linear-gradient(to right, rgba(34, 43, 144, 1), rgba(7, 9, 14, 1)),
  linear-gradient(to bottom, rgb(34, 43, 144) 0%, rgba(8, 8, 8, 1) 30%);
  background-blend-mode: overlay;
  color: var(--white);
  position: relative;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 100%;
  /* align-items: center; */
}
.photoQualityBg{
  width: 30%;
  height: auto;
  position: relative;
  margin-right: 10%;
  }
/* .featuredVideo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 750px;
  height: 600px;
  object-fit: cover;
  background: rgba(35, 35, 35, 1);
  z-index: 0;
  opacity: 0.5;
} */

.myVideo{
  width: 100%;
  height: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 35.3%;
}

/* .gridItem:first-child {
  flex-shrink: 1;
  max-width: 560px;
}

.gridItem:last-child {
  justify-content: center;
  align-items: flex-end;
  flex-grow: 2;
} */

.featuredTitle {
  font-size: 80px;
  line-height: 102px;
  font-weight: 600;
  letter-spacing: -4.1px;
  width: 100%;
  margin-top: 10px;
}

.titleHighlights{
  color: rgba(25, 93, 255, 1);
}

.featuredText {
  margin: 30px 0px 10px 0px;
  width: 80%;
  font-size: 18.2px;
  line-height: 34.56px;
  font-weight: 400;
  
}

.btnContainer {
  display: flex;
  width: 80%;
  gap: 10px;
  flex-wrap: wrap;
}
.contactUsBtn,
.tryAnotherBtn{
  /* width: 25%; */
  height: 51px;
  padding: 20px;
  border-radius: 100px;
  background-color: #195DFF;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}
.contactUsBtn:hover {
  opacity: 0.9;
}
.tryAnotherBtn{
  /* width: 35%; */
  background-color: transparent;
  border: 1px solid #424A63;
}

.resultsGrid{
display: flex;
justify-content: center;
align-items: center;
width: 70%;
margin-left: 20%;
}
.showResults{
width: 60%;
overflow: auto;
height: 450px;
border: 1px solid #0B162C;
border-radius: 25px;
background: #040F22;
/* color: black; */
padding: 30px;
margin: 40px;
display: flex;
flex-direction: column;
gap: 10px;
}
.showResults h2{
/* color: #195DFF; */
color: white;
font-size: 36px;
line-height: 50px;
}
.showResults::-webkit-scrollbar {
display: none;
}
.text{
display: grid;
grid-template-columns: 1fr 2fr; 
gap: 8px 16px;
align-items: center;
}
.resultItem {
display: contents;
/* gap: 2rem; */
}

.key {
font-weight: 600;
/* color: #605;  */
color: #00B3B8;
/* color: white; */
text-transform: capitalize;
}

.value {
color: #690; 
word-break: break-word;
text-align: center;
}
.originalImage{
width: 15%;
/* height: ; */
}
.contactUsSection{
width: 50%;
display: flex;
flex-direction: column;
gap: 20px;
}
.contactUsSection h2{
font-size: 24px;
line-height: 32px;
}
.contactUsSection p{
width: 70%;
}
.disabled{
background: gray;
}
.active,
.submitButton{
background: #195DFF;
color: var(--white);
}
.uploadSection{
  width: 35.3%;
  max-width: 380px;
  height: 400px;
  border-radius: 20px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 16px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}


.uploadSection h3,.uploadSection p,.dragndrop{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #2A303E;
  ;
}
.uploadButton,
.submitButton{
  width: 260px;
  height: 40px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

.uploadSection p{
  color: #7785A7;
  ;
}
.submitButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  background: #007bff;
  color: #fff;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.loader {
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.pasteImageURLBox{
  width: 100%;
}
.pasteImageUrl{
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 9px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 100%;
  outline: none;
}
.activeURLBox{
background-color: #E4ECFF;
}
.disableURLBox{
background-color: rgb(192, 186, 186);
}

.inspectionImgExamples{
  display: flex;
  gap: 20px;
}
.inspectionImgExamples img{
  cursor: pointer;
}
.uploadedImage{
  border: 1px solid black;
}

.photoAPISection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.photoAPIContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photoAPITitleContainer h3,
.useCaseSection h3,
.vehicleSupportedHeading,
.faqHeading{
  font-size: 85px;
  line-height: 95px;
  letter-spacing: -3.46px;
  font-weight: 500;
  text-align: left;
}

.photoAPITitleContainer p,
.faqSubtitle{
  width: 80%;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
}
.photoAPITitleContainer h3{
  margin-bottom: 30px;
}

.photoAPIFeatures{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
}
.featureCard{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 33.3%;
}
.featureCardImage{
  position: relative;
  height: 180px;
  width: 80%;
}

.featureCardHeading{
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  width: 70%;
  margin-top: 25px;
  margin-left: 5%;
}
.featureCardText{
  font-size: 20px;
  margin-left: 5%;
  line-height: 28px;
  font-weight: 500;
  width: 80%;
}
.documentationButton{
  width: 253px;
  height: 60px;
  border-radius: 100px;
  background-color: #195DFF;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.viewMoreBtn{
  display: flex;
  height: 46px;
  white-space: nowrap;
  flex-grow: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 20px;
  width: auto;
  margin: 0px 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 10px;
  color: black;
  border: 1px solid black;
  height: 61px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.useCaseSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.useCaseContainer{
  width: 80%;
  position: relative;
}
.backgroundCarImg{
  position: relative;
  z-index: 1;
  width: 90%;
  height: 460px;
}

.useCasesCarouselContainer {
  position: relative;
  /* background-color: black; */
  display: flex;
  inline-size: 90%;
  margin: 60px 0px;
  /* margin-inline: auto; */
  z-index: 3;
  /* width: 100%; */
  /* overflow: hidden; */
}

.useCasesCaraouselContent{
  display: flex;
  /* flex: 1 1 auto; */
  min-width: 0;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  align-items: flex-start;
  transition: transform 10s ease-in-out;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.navLeft {
  left: -5rem; /* adjust as needed based on carousel width */
}

.navRight {
  right: -5rem;
}
.useCasesCaraouselContent::-webkit-scrollbar {
  display: none;
}
.useCaseItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 23%;
  min-width: 0;
  overflow: hidden;
  scroll-snap-align: start;
  gap: 10px;
  border-radius: 3px;
  text-align: left;
  transition: box-shadow 0.6s ease-out;
  background: var(--white);
  position: relative;
  height: 330px;
  background: 
  linear-gradient(180deg, 
  rgba(37, 45, 140, 1) 0, 
  rgba(33, 42, 129, 1) 20%,
  rgba(25, 31, 96, 1) 40%, 
  rgba(18, 22, 68, 1) 60%, 
  rgba(2, 3, 8, 1)) 100%;
}

.useCaseItem:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
}

.useCaseContent {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50%;
}

.useCaseImg {
  position: relative;
  height: 225px;
  width: 100%;
}

/* .useCasesCarouselContainer{
  position: absolute;
  
  top: 140px;
  left: 50px;
  z-index: 10;
  width: 60%;
  display: flex;
  margin: 30px 0px;
}

.useCasesCaraouselContent{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: transform 10s ease-in-out;
  gap: 20px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.navLeft {
  left: -100px; 
}

.navRight {
  right: -105px;
}

.useCasesCaraouselContent::-webkit-scrollbar {
  display: none;
}
.useCasesCaraouselContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.useCaseItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: hidden;
  scroll-snap-align: start;
  height: 330px;
  max-width: 30%;
  text-align: left;
  border: 1px solid #2B2B2B;
  background: 
  linear-gradient(180deg, 
  rgba(37, 45, 140, 1) 0, 
  rgba(33, 42, 129, 1) 20%,
  rgba(25, 31, 96, 1) 40%, 
  rgba(18, 22, 68, 1) 60%, 
  rgba(2, 3, 8, 1)) 100%;
}

.useCaseItem:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
}

.useCaseContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.useCaseImg {
  position: relative;
  height: 150px;
  width: 230px;
  float: right;
  margin-left: 10px;
}

.useCaseImg img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
} */

.useCaseTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--white);
}

.useCaseText {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.3;
  font-weight: 400;
  color: var(--white);
}

.useCaseSubHeading,
.vehicleSupportedText{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  width: 90%;
  margin-bottom: 30px;
}

.vehiclesSupportedSection{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehiclesSupportedContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.vehiclesSupportedSubSection{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.carSection{
  background: 
  linear-gradient(180deg, 
  rgba(2, 3, 8, 1) 0%,
  rgba(18, 22, 68, 1) 40%,
  rgba(37, 45, 140, 1)) 100%;
  width: 40%;
  height: 430px;
  border-radius: 42px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 85px;
  padding: 30px 0px;
  position: relative;
}

.vehicleName{
  margin-left: 40px;
}
.vehicleName h3{
  font-size: 55px;
  line-height: 54px;
  font-weight: 600;
}

.vehicleName p{
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}
.otherSupportedVehicles{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.vehicle{
  background: 
  linear-gradient(90deg, 
  rgba(2, 3, 8, 1) 0%,
  rgba(18, 22, 68, 1) 40%,
  rgba(37, 45, 140, 1)) 100%;
  color: var(--white);
  display: flex;
  height: 200px;
  border-radius: 42px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
}
.vehicleSupportedHeading{
  width: 80%;
  margin-bottom: 40px;
}

.carImg{
  position: absolute;
  bottom: 0;
} 

.photoAPIFeatureSection{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.photoAPIFeatureContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center    
}

.blogCaraouselContainer {
  position: relative;
  background-color: var(--white);
  display: flex;
  width: 90%;
}

.blogCaraouselContent{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: transform 10s ease-in-out;
  gap: 30px;
}

.blogCaraouselContent::-webkit-scrollbar {
  display: none;
}
.blogCaraouselContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blogItem {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex: 0 0 80%;
  overflow: hidden;
  scroll-snap-align: start;
  max-width: 300px;
  /* border-radius: 3px; */
  border: 1px solid #2B2B2B;
  /* border: solid 1px #eee; */
  text-align: left;
  transition: box-shadow 0.6s ease-out;
  background: var(--white);
}

.blogItem:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
}

.blogContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogImg {
  position: relative;
  height: 200px;
  width: 100%;
}

.blogImg img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.blogTag {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.24px;
  color: var(--blue-bg);
  text-transform: uppercase;
}

.blogTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: var(--black-bg);
}

.blogText {
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0.3;
  color: #313131;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.redirectToContactUsSection{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contactUsMain{
  align-items: center;
  background: #00081B;
  color: white;
}
.contactUsFeatured{
  width: 80%;
  background: #00081B;
  color: white;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contactUsFeatured h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.9px;
}

.contactUsFeatured p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.36px;
  max-width: 500px;
}
.redirectToContactUsSection .contactFormContainer {
  min-height: 245px;
  /* background: #f3f3f3; */
}

.faqSectionContainer{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.faqSection {
  width: 80%;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 4rem; */
  gap: 50px;
  margin-bottom: 50px;
}
.faqTitleContainer{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-left: 20px
}
.faqTitleContainer p{
margin-top: 30px;
}
.faqTitle{
  font-size: 86px;
  line-height: 95px;
  letter-spacing: -3.46px;
  font-weight: 500;
  text-align: left;
}
.faqSubTitle{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.questionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.faqGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two equal-width columns */
  gap: 10px; /* spacing between columns and rows */
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  column-gap: 100px;
}
.questionIndex{
  color: rgba(25, 93, 255, 1);
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  /* font-family: Montserrat; */

}
.allQuestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* column-count: 2; */
  /* align-items: flex-start; */
  /* width: 900px; */
  /* gap: 1em; */
}

.questionModal{
  width: 100%;
  height: 140px;
  padding: 16px 0px 30px 0px;
  /* background-color: #FAFAFA; */
  border-bottom: 1px solid #0B2131;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.openModal{
  height: auto;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 30px;
}

.question p{
  /* font-family: Montserrat; */
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #27272A;
  width: 100%;
}

.answer{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.3s ease;
}
.viewMoreBtn{
  display: flex;
  white-space: nowrap;
  flex-grow: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 20px;
  width: auto;
  margin: 0px 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 10px;
  color: black;
  border: 1px solid black;
  height: 61px;
  border-radius: 50px;
}
.answer p{
  /* font-family: Montserrat; */
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #27272A;
  width: 80%;
  margin-top: 15px;
}

.open{
  max-height: 400px;
  opacity: 1;
}

@media (max-width: 1024px) {
  .featured{
    padding: 1.5rem;
    padding-top: 2rem;
  }
  .grid{
    flex-direction: column;
  }
  .gridItem{
    margin-bottom: 2rem;
    width: 100%;
  }
  .photoQualityBg{
    display: none;
  }
  .featuredTitle{
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0px;
    width: 100%;
  }
  .featuredText{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 100%;
  }
  .resultsGrid{
    margin-left: 0%;
    width: 100%;
    flex-direction: column;
  }
  .showResults{
    width: 100%;
  }
  .contactUsSection{
    width: 100%;
    align-items: center;
  }
  /* .contactUsBtn{
    width: 40%;
  } */
  .contactUsSection p{
    text-align: center;
    width: 100%;
  }
  /* .tryAnotherBtn{
    width: 55%;
  } */
  .uploadSection{
    width: 100%;
  }
  .photoAPIContainer{
    width: 90%;
  }
  .photoAPIFeatures{
    flex-direction: column;
  }
  .photoAPITitleContainer h3,
  .useCaseContainer h3,
  .vehicleSupportedHeading,
  .vehicleName h3{
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .photoAPITitleContainer p{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
  .featureCard{
    width: 100%;
    border-bottom: 9px solid #E6EBFA;
    padding: 30px;    
    padding-bottom: 3rem;  
  }
  .featureCardHeading{
    width: 100%;
  }
  .featureCardText{
    width: 100%;
  }
  .backgroundCarImg{
    display: none;
  }
  .nav{
    display: none;
  }
  .useCaseContainer{
    width: 90%;
  }

  .useCasesCarouselContainer{
    width: 100dvw;
  }
  .useCaseItem{
    flex: 0 0 70%;
  }
  
  .vehiclesSupportedSection{
    width: 100%;
  }
  .vehiclesSupportedContainer{
    flex-direction: column;
  }
  .vehiclesSupportedSection{
    width: 100%;
  }
  .carSection{
    width: 100%;
  }
  .otherSupportedVehicles{
    width: 100%;
  }
  .blogCaraouselContent{
    flex-direction: column;
  }
  .blogItem{
    flex: 0 0 auto;
  }
  .faqSectionContainer{
    width: 100dvw;
    max-width: 100%;
    margin-top: 40px;
  }
  .faqSection{
    width: 90%;
  }
  .faqTitle{
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 2px;
    width: 80%;
  }
  .faqSubTitle{
    font-size: 20px;
    line-height: 30px;
    /* font-weight: 400; */
  }
  
  .questionContainer{
    width: 100%;
  }
  .questionModal{
    height: 100px;
  }
  .questionIndex{
    font-size: 20px;
  }
  .openModal{
    height: auto;
  }
  .faqGrid{
    grid-template-columns: 1fr;
    column-gap: 0;
    /* padding: 0px 10px; */
  }
  .question p{
    font-size: 16px;
  }
  .answer p{
    font-size: 15px;
  }
  .open{
    padding-bottom: 12px;
  }
  .contactUsFeatured {
    padding: 3rem 1rem;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .contactUsFeatured h1 {
    font-size: 36px;
  }

  .contactUsFeatured p {
    width: 100%;
  }
}
